@use '../utils/' as *;

.CopyToClipboardButton {
    display: block;
    width: 50%;
    height: 40px;
    margin: 1.5rem auto 0;

    border: none;
    border-radius: $radius;
    border-color: $clr--main;
    border-top-left-radius:$radius;
    border-top-right-radius:$radius;
    border-bottom-left-radius:$radius;
    border-bottom-right-radius:$radius;
    color: $clr--white;
    font-weight:bold;

    background-color: $clr--main;
    cursor: pointer;

    &:hover {
      background: linear-gradient($clr--main, $clr--main--light);
    }
}

