@use '../utils/' as *;


.generatedCode {
    width: 90%;
    margin: 1.5rem;


    @include mq(intermediate) {
        width: 60%;
        margin: 4rem;
    }


    &__code {
        width: 100%;
        border-radius: $radius;
        border: 2px solid $clr--main;
        padding: 0.5rem;
        resize: none;
        text-align: center;

        &--texarea {
            display: none;
  
            @include mq(intermediate) {
                display: initial;
                width: 100%;
                resize: none;
                text-align: left;
            }

        }
    }
}