@use '../utils/' as *;


.generatedCode {
    width: 90%;
    margin: 1.5rem;


    @include mq(intermediate) {
        width: 60%;
        margin: 4rem;
    }


    &__code {
        display: none;
        width: 100%;
        border-radius: $radius;
        border: 2px solid $clr--main;
        padding: 0.5rem;
        text-align: center;
        resize: none;


        @include mq(intermediate) {
            display: initial;
        }

        &--texarea {
            text-align: left;
        }
    }
}