@use '../utils/variables' as *;
@use '../utils/mixins' as *;


.navBar {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1000;
    
    display: flex;
    justify-content: center;
    
    width: 100%;
    height: $navBarHeight;
    
    background-color: $mainColor;
    box-shadow: 0px 1px 5px 0px rgba(75, 68, 83, 1);

    @include mq(intermediate) {
        top: 0;
        left: 0;
        justify-content: center;
    }
    

    &__button {
        display: none;
    }


    &__icon {
        height: $navBarHeight;
        padding: 1rem;

       @include mq (intermediate) {
           display: none;
       }

        svg {
            width: 100%;
            height: 100%;
            fill: $white;
        }

        &:hover {
            cursor: pointer;
        }
                     
    }


    &__menu {
        position: absolute;
        left: 50%;
        top: 100%;
        z-index: 100;

        display: flex;
        justify-content: center;
        flex-direction: column;

        width: 95%;
        padding: 0.8rem 0;
        border: 2px solid $mainColor;
        border-radius: 10px;

        background-color: #a77ed0;

        transform: translateX(-50%);
        transition: transform 0.5s ease-in-out;
        overscroll-behavior-y: contain;
        overflow-y: auto;


        @include mq(intermediate) {
            position: unset;
            flex-direction: row;

            width: 100%;
            height: $navBarHeight;
            margin-bottom: 0;
            padding: 0;

            background-color: unset;
            transform: translateX(0);
        }


        &__item {
            display: flex;
            justify-content: space-around;
            align-items: center;
        
            text-align: center;
            font-size: 1.5rem;
            font-weight: 500;
            text-decoration: none;


            @include mq (intermediate) {
                width: 15%;
                margin: 0 0.5rem;
            }


            a {
                width: 95%;
                padding: 0.5rem;
                border-top: 0.5px solid $mainColor;
                border-bottom: 0.5px solid $mainColor;
                color: $white;

                @include mq (intermediate) {
                    &:hover {
                        color: $white;
                    }
                }

                
            }

        }
        
    }

}

#menu__button:checked ~ .navBar__menu {
    transform: translate(-50%, calc(-100% - $navBarHeight - 0.5rem));
    transition: transform 0.5s ease-in-out;
    background-color: color(dark, dark);
}
