@use '../utils/' as *;


.navBar {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1000;

    display: flex;
    justify-content: center;

    width: 100%;
    height: $navBarHeight;

    background-color: $clr--main;


    @include mq(intermediate) {
        top: 0;
        left: 0;
        justify-content: center;
    }


    &__button {
        display: none;
    }


    &__icon {
        height: $navBarHeight;
        padding: 1rem;

        @include mq (intermediate) {
            display: none;
        }

        svg {
            width: 100%;
            height: 100%;
            fill: $clr--white;
        }

        &:hover {
            cursor: pointer;
        }

    }


    &__menu {
        position: absolute;
        left: 50%;
        top: 100%;
        z-index: 100;

        display: flex;
        justify-content: center;
        flex-direction: column;

        width: 95%;
        height: 25vh;
        border-top-left-radius: $radius;
        border-top-right-radius: $radius;

        background-color: $clr--main--light;

        transform: translateX(-50%);
        transition: transform 0.5s ease-in-out;
        overscroll-behavior-y: contain;
        overflow-y: auto;

        :nth-child(even) {
            border-top: 0.5px solid $clr--aqua;
            border-bottom: 0.5px solid $clr--aqua;

            @include mq (intermediate) {
                border: 0;
            }
        }


        @include mq(intermediate) {
            position: unset;
            flex-direction: row;

            width: 100%;
            height: $navBarHeight;
            margin-bottom: 0;
            padding: 0;

            background-color: unset;
            transform: translateX(0);

        }


        &__item {
            display: flex;
            justify-content: space-around;
            align-items: center;

            height: 4rem;

            text-align: center;
            font-size: 1.8rem;
            font-weight: 700;
            text-decoration: none;


            &--isActive {
                text-shadow: 0px 2px 2px $clr--aqua;
                color: $clr--white;
            }


            @include mq (intermediate) {
                width: 15%;
                margin: 0 0.5rem;
            }


            a {
                width: 95%;
                padding: 0.5rem;
                border-top: 0.5px solid $clr--main;
                border-bottom: 0.5px solid $clr--main;
                color: $clr--white;


                @include mq (intermediate) {
                    &:hover {
                        color: $clr--white;
                    }
                }


            }

        }

    }

}

#menu__button:checked~.navBar__menu {
    transform: translate(-50%, calc(-100% - $navBarHeight));
    transition: transform 0.5s ease-in-out;
}