@use '../utils/variables' as *;
@use '../utils/mixins' as *;


.boxShadow {
    width: 50%;
    aspect-ratio: 4/3;
    border: 0.5px solid rgba(111, 107, 118, 0.3);
    border-radius: 2rem;
    background-color: $white;

    @include mq(intermediate) {
        width: 40%;
    }
}


.texShadow {
    font-size: 6rem;
    color: $white;
}


.glassBox {
    position: relative;
    z-index: 100;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

    width: 90%;
    aspect-ratio: 16/10;

    // background-image: url(../../assets/img/2_1_200x.jpg);


    @include mq(intermediate) {
        width: 60%;
    }

    &__glass {
        position: absolute;
        z-index: 10;

        width: 100%;
        height: 100%;
    }

    &__title {
        position: relative;
        z-index: 10;

        color: $white;
        font-size: 1.5rem;
        font-weight: 700;

    }
    

    &__text {
        position: relative;
        z-index: 10;

        width: 90%;

        text-align: center;
        color: $white;
        font-size: 1rem;
        font-weight: 350;
    }


    &__image {
        position: relative;
        z-index: 0;
        width: 100px;
        height: 100px;
        margin-bottom: 1rem;
    }
}