@use '../styles/utils/mixins' as *;


.controls {
    display: flex;
    justify-content: center;
    align-items: center;
    
    flex: 0.4;
    height: 100vh;

    @include mq(intermediate) {
        flex: 0.5;
    }
}