.glassBackground {
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(https://img.freepik.com/vector-gratis/fondo-espacio-forma-abstracta-estrellas_189033-58.jpg?size=626&ext=jpg);
    background-repeat: no-repeat;
    background-size: contain;
}