@use '../styles/utils/mixins' as *;

.inputControls {
    width: 90%;
    border-radius: 0.5rem;
    padding: 1rem;

    backdrop-filter: blur(8px);
    background-color: rgba(114,146,166, 0.25);
    box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px;
    border: 2px rgba(255,255,255,0.4) solid;
    border-bottom: 2px rgba(40,40,40,0.35) solid;
    border-right: 2px rgba(40,40,40,0.35) solid;

    @include mq(intermediate) {
        width: 60%;
    }


    &__slider {
        width: 100%;
    }

    &__colorPicker {
        display: flex;
        justify-content: space-between;
        
        width: 100%;
        margin: 0.8rem 0;
    }
}
