@use '../styles/utils/mixins' as *;


.viewer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    flex: 0.6;
    height: 100vh;

    @include mq(intermediate) {
        flex: 0.5;
    }
}