@use '../../styles/utils/variables' as *;
@use '../../styles/utils/mixins' as *;


.generatedCode {
    width: 90%;
    margin: 1.5rem;
    // border: 1px solid red;

    @include mq(intermediate) {
        width: 60%;
        margin: 4rem;
    }

    &__code {
        width: 100%;
        border-radius: 5px;
        border: 2px solid $mainColor;
        padding: 0.5rem;
        resize: none;
        text-align: center;

        &--texarea {
            width: 100%;
            resize: none;
            text-align: left;

            @include mq(medium) {
                width: 105%;
            }
        }
    }
}
