@use '../utils/mixins' as *;

.inputControls {
    width: 90%;
    border-radius: 0.5rem;
    padding: 1rem;

    background-color: rgba(166,124,207,0.4);
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.4);
    border-bottom: 2px solid rgba(40,40,40,0.35);
    border-right: 2px solid rgba(40,40,40,0.35);

    box-shadow:  0px 5px 5px -3px rgba(0, 0, 0, 0.3);


    @include mq(intermediate) {
        width: 60%;
    }


    &__slider {
        width: 100%;
    }

    &__colorPicker {
        display: flex;
        justify-content: space-between;
        
        width: 100%;
        margin: 0.8rem 0;
    }
}
