@use '../styles/utils/variables' as *;
@use '../styles/utils/mixins' as *;


.layout {
    display: flex;
    flex-direction: column;
    overflow: hidden;

    width: 100%;
    height: 100vh;
    padding-bottom: $navBarHeight;
 
    background-image: linear-gradient(to bottom, #845ec2, #a77ed0, #c6a1de, #e2c5ee, #fbeaff);
    
    @include mq(intermediate) {
        padding: $navBarHeight 0 0;
    }

    @include mq(medium) {
        flex-direction: row;
    }
    

    &--glassBackground {
        background-image: url(https://static.vecteezy.com/system/resources/previews/002/042/256/original/beautiful-desert-sunset-illustration-vector.jpg);
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
}


