@use './variables' as *;

// Mixin for media queries breakpoints
// Default values are defined in the variables file
@mixin mq($breakpoint) {
    //Conditional in case there is needed an extra breakpoint
    @if map-has-key($breakpoints, $breakpoint){
        @media screen and (min-width: map-get($breakpoints, $breakpoint)){
            @content;
        }
    } @else {
        @media screen and (min-width: $breakpoint){
            @content;
        }
    }
};