
// Map breakpoints for media queries
$breakpoints: (
    small: 320px,
    standar: 375px,
    intermediate: 768px,
    medium: 1024px,
    large: 1280px,
    xlarge: 1366px
);

// Height value for navBar
$navBarHeight: 8vh;