// Map breakpoints for media queries
$breakpoints: (
    small: 320px,
    standar: 375px,
    intermediate: 768px,
    medium: 1024px,
    large: 1280px,
    xlarge: 1366px
);

// Height value for navBar
$navBarHeight: 9vh;

// value for border radius
$radius: 8px;


// Color scheme
$clr--main: hsl(263, 35%, 38%);
$clr--main--light: hsl(263, 35%, 60%);
$clr--white: hsl(280, 11%, 95%);
$clr--gray: hsl(0, 7%, 22%);
$clr--shadow: hsla(262, 5%, 44%, 0.3);
$clr--aqua: hsl(170, 100%, 39%);
$clr--aqua--light: hsl(170, 100%, 80%);
$clr--aqua--dark: hsl(170, 100%, 10%);
$clr--controls: hsla(250, 81%, 46%, 0.4);