.control {
    position: relative;
    display: flex;
    margin: 0.5rem 0;
    justify-content: space-around;
    align-items: center;
    border: 1px solid blue;
}

.control__colorPicker {
    position: absolute;
    bottom: 100%;
    left: 0;
}


.control--colorPicker {
    width: 150px;
    margin: 0;
    background-color: hotpink;
}

.control__label {
    width: 25%;
    color: ghostwhite;
    font-weight: 500;
    text-shadow: 0px 2px 5px rgba(120,97,97,1);
    /* border: 1px solid blue; */
}

.control__slider {
    width: 60%;
    margin: 0 1rem;
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

.control__number {
    width: 3.5rem;
    height: 1.5rem;
    border: 0.5px solid #3D3535;
    border-radius: 2.5px;
    text-align: center;
}

.control__color {
    width: 50px;
    height: 25px;
    border: 0.5px solid #3D3535;
    border-radius: 2.5px;
} 