.glassBox {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 55%;
    aspect-ratio: 16/10;
}


.glassBox__title {
    /* margin-bottom: 0.5rem; */
    color: ghostwhite;
    font-size: 1.5rem;
    font-weight: 700;
}


.glassBox__text {
    width: 90%;
    text-align: center;
    color: ghostwhite;
    font-size: 1rem;
    font-weight: 350;
}