.control {
    display: flex;
    margin: 0.5rem 0;
    /* border: 1px solid blue; */
}

.control__label {
    width: 30%;
}

.control__slider {
    margin: 0 0.5rem;
}

.control__text {
    width: 3rem;
    text-align: center;
}